# Python
*.pyc
__pycache__/
*.pyo
*.pyd

# Django
db.sqlite3
*.log
/staticfiles/
media/
users/

# Virtual environment
venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
*.env

# Tests
users.json